<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6ogojzXU8dnIalXkwgsDpNErxYWakaA8</string>
	<key>GCM_SENDER_ID</key>
	<string>464177351985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.almarsa</string>
	<key>PROJECT_ID</key>
	<string>almarsa-app</string>
	<key>STORAGE_BUCKET</key>
	<string>almarsa-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464177351985:ios:b36e2c430b100ba6027410</string>
	<key>DATABASE_URL</key>
	<string>https://almarsa-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>